{% load static %}

<nav class="navbar navbar-expand-md bg-body-tertiary shadow sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <span>logo</span>
        </a>
        <button class="navbar-toggler" style="width: 70px;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="mx-auto"></div>
            <ul class="navbar-nav">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Fashion
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Men Fashion</a>
          <a class="dropdown-item" href="#">Women</a>          
        </div>
      </li>

      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          welcome {{user.username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#"><i class="fa fa-store"></i>My store</a>
          <a class="dropdown-item" href="#"><i class="fas fa-clipboard-list"></i> </i>My Orders</a>
          <a class="dropdown-item" href="{% url 'accounts:logout' %}">logout</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Accounts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'accounts:login' %}">Login</a>
          <a class="dropdown-item" href="{% url 'accounts:register' %}">Register</a>
        </div>
      </li>
      
      {% endif %}

    </ul>
    <div class="d-flex mx-5">
        <a class="btn btn-outline-info mx-2" href="{% url 'cart:cart' %}" role="button"><i class="fa fa-cart-plus"></i> Cart <span class="text-danger fw-bold">{{ total_cart }}</span></a>
      </div>
        </div>


    </div>
</nav>


<style>
    .btn-outline-info:hover{
        background-color: #279681;
        border-color: #279681;
        color: #fff;
        
    }
    .dropdown-toggle::after {
  display: none;
}

</style>